.main-layout {
  &__content {
    color: var(--text-primary);
    padding: 32px 48px;
    background: var(--bg-color);
  }
}

@media (max-width: 768px) {
  .main-layout {
    &__content {
      padding: 24px 16px;
      padding-top: 64px;
    }
  }
}
