.sider {
  /* MOBILE BURGER BUTTON */
  &__burger-btn {
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 1000;
    width: 32px;
    height: 28px;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      height: 4px;
      width: 100%;
      background: var(--text-primary);
      border-radius: 3px;
      transition: 0.25s;
    }

    &:hover span {
      background: var(--color-primary);
    }
  }
}
